 /*  
Author: Mathis Armstrong
File Name: styles.css
Date: 02/09/2023
*/

/* apply a natural box layout model to all elements DDDFE2
#289799
#356F87
#4D8085
#151A20*/
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   background: white;
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #151a20;
   width: 100%;
   color: #dddfe2;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;   
   font-family: 'Montserrat', sans-serif;
   padding-top: .6em;
}

/* main content */
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 5px 10px;
}
nav{
   background-color: #4d8085;
   text-align: center;
   display: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav a{
   color: #dddfe2;
   display: inline-block;
}
nav li{
    text-decoration: none;
    font-size: 1.55em;
    padding-block: 2%;
    border-top: 2px solid #151a20;
}
#facts{
    font-size: 1.1em;
}
main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #dddfe2;
    color: #151a20;
    padding-top: 1%;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: #dddfe2;
}
.center {
   text-align: center;
 }
 footer{
   background-color: #dddfe2;
   padding-top: 5%;
   font-size: 0.85em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 footer a{
   color: #356f87;
 }
 footer p{
   display: inline-block;
   padding-left: 1%;
 }
 main p{
   text-align: center;
 }
 /* Updated this */
 figcaption{
   text-align: center;
   padding: 2%;
 }
 table{
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
   width: 50%;
 }
 th{
   background-color: #356f87;
   color: #dddfe2;
 }
 td, th{
   border: #151a20 solid 2px;
   padding: 1%;
   text-align: center;
 }
 tr:nth-child(odd){
   background-color: lightgrey;
 }
 .rounded{
   max-width: 50%;
   border: 0px solid;
   border-radius: 50px;
   background-color: #289799;
   background-clip: padding-box;
   padding: 1%;
}
/* Updated this */
.grid{
   display: grid;
   grid-template-columns: auto auto auto;
}
.tablet{
   display: none;
}
.desktop{
   display: none;
}

a.burger{
   position: absolute;
   top: 0;
   color: #dddfe2;
   font-size: 3em;
}

audio{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* Social media icons style */
footer img{
   display: inline-block;
   width: 3em;
   box-shadow: none;
}

/* Tablet Media Query */
@media screen and (min-width: 540px){
   .mobile{
      display: none;
   }
   .tablet{
      display: block;
   }
}

/* Desktop Media Query */
@media screen and (min-width: 1025px){
   .mobile{
      display: none;
   }
   .tablet{
      display: none;
   }
   .desktop{
      display: block;
   }
   a.burger{
      display: none;
   }
   nav{
      text-align: left;
      display: block;
   }
   nav li{
      display: inline;
      padding-block: 0;
      border: none;
      font-size: 3vw;
   }
   nav a{
      border-inline: none;
      padding-inline: 1%;
   } 
   nav li a:hover{
      background-color: #151a20;
      transform: scale(1.2,1.2);
   }
}